@using Izakayamvc.ViewModels.Vms
﻿@model Izakayamvc.ViewModels.Vms.ProductCreateVm

@{
    ViewBag.Title = "Create1";
}

<h2>Create1</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="mb-2">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>

        <div class="mb-2">
            @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })

        </div>

        <div class="mb-2">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

        </div>

        <div class="mb-2">
            @Html.LabelFor(model => model.Present, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.Present, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.Present, "", new { @class = "text-danger" })

        </div>

        <div class="mb-2">
            @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "form-label col-md-2" })

            @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
            @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })

        </div>

        <div class="mb-2">
            @Html.LabelFor(model => model.IsLaunched, htmlAttributes: new { @class = "form-label col-md-2" })

            <div class="checkbox">
                @Html.EditorFor(model => model.IsLaunched)
                @Html.ValidationMessageFor(model => model.IsLaunched, "", new { @class = "text-danger" })
            </div>

        </div>

        @*<div class="mb-2 col-3">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.DropDownListFor(model => model.CategoryId, Model.Category, new { @class = "form-select" })
        </div>*@

        @*<div class="mb-2">
                @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "form-label col-md-2" })

                @Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })

            </div>

            <div class="mb-2">
                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "form-label col-md-2" })

                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })

            </div>*@

        <div class="mb-2">

            @Html.Partial(PartialViews.SaveNewButton)
            @Html.Partial(PartialViews.BackToList)

        </div>
    </div>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}